<%- include('../partials/header/header') %>
<div class="pageContainer">
  <div class="page">
    <div class="d-flex flex-column justify-content-center container shadow p-3 mb-5">
      <h2 class="text-center">
        Add a New Ticket for Flight <%= flight.flightNo %>
      </h2>

      <div class="d-flex justify-content-center form-group">
        <form action="/flights/<%= flight._id %>/tickets" method="POST">
          <label
            >Ticket
            <input
              placeholder="[A-F] [1-99]"
              class="form-control"
              type="text"
              name="seat"
              required
              pattern="[A-F][1-9]\d?"
            />
          </label>
          <label
            >Price
            <input placeholder="$" class="form-control" type="number" name="price" min="0" />
          </label>
          <button class="btn btn-primary">Save Ticket</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer/footer') %>
