<%- include('../partials/header/header') %>
<div class="pageContainer">
  <div class="page">
    <h2 class="text-center mb-4">Add a New Flight</h2>
    <div class="formCenter container shadow bg-white rounded" style="padding: 1rem;">
      <form action="/flights" method="POST">
        <div class="d-flex flex-column align-items-center">
          <div class="form-group">
            <label
              >Airline:
              <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label
              >Flight Number:
              <input class="form-control" type="number" name="flightNo" required />
            </label>
          </div>
          <div class="form-group">
            <label
              >Departs:
              <input class="form-control" type="datetime-local" name="departs" />
            </label>
          </div>
          <div class="form-group">
            <label
              >Airport:
              <select class="form-control" name="airport">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
                <option value="SEA">SEA</option>
              </select>
            </label>
          </div>
          <input class="btn btn-primary" type="submit" value="Add Flight" style="margin: 1rem;" />
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer/footer') %>
